<div class="person-card">
  <% if person.thumbnail_image.attached? %>
    <%= image_tag person.thumbnail_image, alt: person.full_name, style: "max-width: 150px;" %>
  <% end %>

  <h3><%= link_to person.full_name, person_path(person) %></h3>

  <% if person.description.present? %>
    <p><%= truncate(person.description, length: 100) %></p>
  <% end %>
</div>
