<div class="person-card">
  <%= link_to person_path(person) do %>
    <h2><%= person.full_name %></h2>
    <%= render "person_image", person: person, size: :thumbnail %>
  <% end %>
  <% if person.description.present? %>
    <p><%= truncate(person.description, length: 100) %></p>
  <% end %>
</div>