<h1>People</h1>

<% if @people.any? %>
  <div class="people-list">
    <% @people.each do |person| %>
      <%= render "person_card", person: person %>
    <% end %>
  </div>
<% else %>
  <p>No people found</p>
<% end %>
<% if authenticated? %>
  <%= link_to "Add Person", new_person_path %>
<% end %>
