<%# app/views/events/new.html.erb %>

<div class="page-header">
  <div class="page-header__top page-header__top--centered">
    <h1 class="page-title">New Event</h1>
  </div>
</div>

<%= render "form", event: @event %>
