<h1>Event Types</h1>

<% if authenticated? %>
  <%= link_to "New event type", new_event_type_path %>
<% end %>

<% if @event_types.empty? %>
  <p>No event types found</p>
<% else %>
  <% @event_types.each do |et| %>
    <div>
      <%= lucide_icon(et.icon, size: 20) %>
      <%= link_to et.name, event_type_path(et) %>
    </div>
  <% end %>
<% end %>
