<%# app/views/event_types/new.html.erb %>

<div class="page-header">
  <div class="page-header__top">
    <h1 class="page-title">New Event Type</h1>
  </div>
</div>

<%= render "form", event_type: @event_type %>
